<footer class="footer bg-secondary py-5"  style="color: #ffffff;">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                <h5>About</h5>
                <ul class="list-unstyled">
                    <li><a href="#">How Airbnb works</a></li>
                    <li><a href="#">Newsroom</a></li>
                    <li><a href="#">Airbnb Plus</a></li>
                    <li><a href="#">Airbnb Luxe</a></li>
                    <li><a href="#">HotelTonight</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                <h5>Community</h5>
                <ul class="list-unstyled">
                    <li><a href="#">Diversity & Belonging</a></li>
                    <li><a href="#">Accessibility</a></li>
                    <li><a href="#">Airbnb Associates</a></li>
                    <li><a href="#">Frontline Stays</a></li>
                    <li><a href="#">Invite friends</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                <h5>Host</h5>
                <ul class="list-unstyled">
                    <li><a href="#">Host your home</a></li>
                    <li><a href="#">Host an online experience</a></li>
                    <li><a href="#">Host an experience</a></li>
                    <li><a href="#">Responsible hosting</a></li>
                    <li><a href="#">Resource Center</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                <h5>Support</h5>
                <ul class="list-unstyled">
                    <li><a href="#">Our COVID-19 Response</a></li>
                    <li><a href="#">Help Center</a></li>
                    <li><a href="#">Cancellation options</a></li>
                    <li><a href="#">Neighborhood Support</a></li>
                    <li><a href="#">Trust & Safety</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container mt-4">
        <div class="row">
            <div class="col-lg-6">
                <p class="mb-0">&copy; 2024 Airbnb, Inc.</p>
            </div>
            <div class="col-lg-6">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item mr-3"><a href="#">Terms</a></li>
                    <li class="list-inline-item mr-3"><a href="#">Sitemap</a></li>
                    <li class="list-inline-item mr-3"><a href="#">Privacy</a></li>
                    <li class="list-inline-item mr-3"><a href="#">Your Privacy Choices</a></li>
                    <li class="list-inline-item mr-3"><a href="https://www.facebook.com/login/"><i class="fab fa-facebook-f"></i></a></li>
                    <li class="list-inline-item mr-3"><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li class="list-inline-item mr-3"><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li class="list-inline-item mr-3"><a href="#"><i class="fab fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
